body {
    width: 100%;
    margin: 30px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    line-height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

#profile-container{
    max-width: 355px;
    margin: 80px auto;
    background-color: white;
    border: 1px black;
    border-radius: 6px;
}

#profile-image{
    width: 100%;
    height: auto;
}

#profil-name{
    text-align: center;
}